html, body
{
  background-color: #303030;
  color: white;
}
#header
{
  background: rgba(0,0,0,.5);
  border: 5px white solid;
  border-radius: 25px;
  margin: 15px;
}
a
{
  text-decoration: none;
  font-size: 20px;
  color: white;
}
a:hover
{
  text-decoration: none;
}
h1
{
font-size: 20px;
color: white;
padding: 10px;
}
